
#messageBox{
    padding: 0px 20px;
    display: flex;

}
#messageInput{
    border: none;
    
}
.inputMessage{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    align-self: baseline;
}


@media only screen and (max-width:640px) {
    .emailBox{
        display: none;
    }
}